body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

h2, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-control:focus {
  z-index: 2;
}
input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#dhek-message { display: none }